<div class="jumbotron">
<h1>Welcome to PINTERESTED</h1>
<p>It is pretty cOol right!! :P</p>

<%= link_to "Login" ,new_user_session_path , class:'btn btn-default'%>
<%= link_to "join" ,  new_user_registration_path, class:'btn btn-primary'%>


</div>